extends ../layout 

block content 
  if artist
    h1= artist.name 
    p 
    h3= artist.painting
    h4 Artist Media: #{artist.medium} 
    
    p= artist.description 
    p 
    a(href='/artists/#{artist.id}/edit') Edit 
    form(action='/artists/#{artist.id}/delete' method='post')
      input(type='submit' value='Delete')
